@use 'sass:color';

$primary-color: #4CAF50;
$secondary-color: #8BC34A;
$background-color: #f5f5f5;
$text-color: #333333;
$text-secondary-color: #757575;
$font-family-base: 'Roboto', sans-serif;

body {
  font-family: $font-family-base;
  background-color: $background-color !important;
  color: $text-color;
}

.container {
  background-color: $background-color;
  max-width: 100%;
}

form.d-flex {
  position: relative;

  input {
    border-radius: 20px;
    padding-right: 3rem;
  }

  button {
    background-color: $background-color;
    color: $text-color;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 2px;

    &:hover {
      background-color: darken($background-color, 10%);
    }

    i {
      font-size: 1rem;
    }
  }
}
/** Navbar */
.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  height: 100px;
  background-color: $background-color;
  color: $text-color;
  border-color: #757575;
  border-bottom: 1px;

  .form-control {
    max-width: 300px;
    flex: 1;
    border-radius: 20px;
    border: 2px solid color.adjust($text-secondary-color, $lightness: -10%);
  }

  .dropdown {
    .dropdown-toggle {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #757575;
        margin-right: 10px;
      }

      div {
        display: flex;
        flex-direction: column;

        span {
          font-size: 0.95rem;
          color: #333333;
        }

        small {
          font-size: 0.8rem;
          color: #ccc;
        }
      }
    }

    .dropdown-menu {
      min-width: 200px;
    }
  }

  .navbar-text {
    font-size: 1.25rem;
    color: $text-color;
    margin-right: auto;
    order: -1;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;

    .navbar-text {
      margin-bottom: 10px;
      text-align: center;
    }
  }
}
/** Carousel */
.carousel-inner {
  .carousel-item {
    position: relative;
    height: 400px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .carousel-caption {
      position: absolute;
      top: 20%;
      left: 19%;
      right: 62%;
      bottom: 15%;
      text-align: left;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      max-width: 50%;

      h5 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 15px;
      }

      .btn-outline-light {
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        font-size: 1rem;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        border-radius: 50px;


        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .carousel-item {
    height: 250px;

    .carousel-caption {
      top: 10%;
      max-width: 90%;
    }

    h5 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
/** Cards */
.card {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $background-color;
  border: 1px solid $text-secondary-color;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  .card-img-top {
    width: 100%;
    height: 300px;

  }

  .dots {
      background-color: $background-color;
      border: none;

      &:hover {
        background-color: color.adjust($background-color, $lightness: -10%);
      }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    .card-title {
      font-size: 1.25rem;
      margin-bottom: 15px;
      color: $text-color;
    }

    .btn-primary {
      background-color: $primary-color;
      border-radius: 50px;

      border: none;

      &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
      }
    }
  }
}

@media (max-width: 768px) {
  .card {
    .card-img-top {
      height: 150px;
    }
  }
}
/** Modal de Boas-vindas */
#welcomeModal .modal-content {
  border-radius: 15px;
  overflow: hidden;
  max-height: 90vh;
  position: relative;
}

#welcomeModal .modal-image img {
  height: 50%;
  object-fit: cover;
}

#welcomeModal .modal-body {
  padding: 2rem;
  background-color: $background-color;
  flex: 1;
}

#welcomeModal .modal-title {
  color: $text-color;
  font-weight: bold;
  font-size: 1.5rem;
}

#welcomeModal .btn-primary {
  border-radius: 30px;
  width: 250px;
  font-size: 1.1rem;
}

#welcomeModal .btn-close {
  width: 50px;
  height: 50px;
  background-color: $background-color;
  color: #fff;
  border: none;
  position: absolute;
  top: 2px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1055;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

#welcomeModal .btn-close:hover {
  background-color: darken($background-color, 10%);
}

@media (max-width: 768px) {
  #welcomeModal .modal-content {
    max-height: 95vh;
  }

  #welcomeModal .modal-image img {
    height: 40%;
  }

  #welcomeModal .btn-close {
    top: -15px;
    right: -15px;
  }
}

/* Modal de Criação de Curso */
#createCourseModal .modal-content {
  border-radius: 10px;
}

#createCourseModal .modal-header {
  background-color: $background-color;
  color: $text-secondary-color;
  border-radius: 10px 10px 0 0;
}

#createCourseModal .modal-body {
  background-color: #f5f5f5;
}

#createCourseModal .btn-primary {
  background-color: $primary-color;
  border-color: $text-secondary-color;
  width: 100%;
  font-weight: bold;
}

#createCourseModal .btn-primary:hover {
  background-color: darken($primary-color, 10%);
}

/* Card de Criação de Curso */
.create-course-card {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed $text-secondary-color; 
  background-color: #f9f8fb; 
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
  
  &:hover {
    background-color: $background-color; 
    color: white;
    transform: scale(1.05); 
  }

  .text-center {
    .bi {
      font-size: 3rem; 
    }
    h5 {
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
} 

#updateCourseModal .btn-primary {
  background-color: #0d6efd;
  //border-color: $text-secondary-color;
  width: 100%;
  font-weight: bold;
}

#updateCourseModal .btn-primary:hover {
  background-color: darken(#0d6efd, 10%);
}

.logo-footer {
  height: 60px;
  opacity: 0.2;
}

.social-link {
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #4e2096; /* Cor de destaque */
}

.contact-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}
